/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 16px;
  line-height: 1.4;
  max-width: 1200px;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   /*-----------GENERAL STYLES--------------*/
   
   *{
    margin: 0;
    padding: 0;
  }

  html{
    font-size: 16px;
  }

  body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
  }

  ul,
  ol{

  }

  a{
    color: #e2e3ed;
    text-decoration: none;
  }

  h1{
    font-size: 2.25rem;
    font-family: 'Poppins', sans-serif;
  }
  
  h2{
    font-family: 'Poppins', sans-serif;
    font-size: 1.875rem;
  }

  h3,
  h4{
    font-family: 'Poppins', sans-serif;
    font-size: 1.125rem;
  }

  p{
    font-size: 0.875rem;
  }

   /*-------------------MOBILE HOME PAGE STYLES----------------*/

  /*  HEADER & FOOTER STYLES */
  .header-container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    background: #202322;
  }

  .header-container img,
  .unplugged-logo a img{
    width: 60%;
    margin: 25px 0;
  }

  .header-divider{
    width: 100%;
    border-top: #3a3a3a solid 1px;
  }

  header nav{
    margin: 20px 0;
  }

  header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    display: flex;
    width: 100%;
  }

  header nav ul li a{
    justify-content: space-between;
    margin:60px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 1.125rem;
    text-transform: uppercase;

  }

  .footer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    background: #202322;
  }

  .contact h3,
  .social h3{
    text-align: center;
    color: #ffffff;
    font-weight: 500;
    margin-top: 50px;
  }

  .contact address{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.875rem;
    color: #ffffff;
    text-align: center;
    margin: 20px 0 0px 0;
  }

    .social{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column nowrap;
    }

    .social h3{
      margin-bottom: 21px;
    }

    .social-icons{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: row nowrap;
      margin-bottom: 50px;
    }

    .social-icons a{
      margin: 0 20px;
    }

    footer p{
      color: #ffffff;
      margin-bottom: 20px;
    }

  /*HERO IMAGE SECTION*/
  .hero-container{
    display: flex;
    justify-content: start;
    align-items: start;
    background-image: url('../img/jake-melara-30679-unsplash.jpg');
    background-position:top;
    background-size: cover;
    height: 500px;
  }

  .hero-container h1{
    margin-left: 22px;
    width: 82%;
    color: #e2e3ed;
    font-weight: 500;
  }

  /*MORE INFO SECTION*/
  .more-info-container{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    flex-flow: column nowrap;
    background: #527158;
  }

  .more-info-container h3{
    margin-bottom: 13px;
    font-weight: 500;
    color: #e2e3ed;
  }

  .more-info-container p{
    color: #e2e3ed;
  }

  /*ASIDE*/

    aside{
    display: flex;
    justify-content:center;
    flex-flow: row wrap;
    background: #527158;
    align-items:center;
    padding: 25px 20px 50px 20px;
    }

    aside .email-form {
      margin-top: 30px;
    }
     
    input[type=text] {
      box-sizing: border-box;
      width: 100%;
      color: #2a423a;
      font-style: italic;
      padding: 1em;
    }
     
    input[type=button] {
      width: 100%;
      padding: 20px 0;
      margin-top: 20px;
      background-color: #2a423a;
      font-family: 'Poppins', Helvetica, Arial, sans-serif;
      font-weight: 500;
      font-size: 1.125em;
      color: #e2e3ed;
      border: none;
      text-align: center;
      text-transform: uppercase;
    }

  /*FUN CAMP FEATURES*/
  .amenities-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    background-image: url('../img/rawpixel-800820-unsplash.png');
    background-position: center;
    background-size: cover;
  }

  .amenities-container h2{
    font-weight: 500;
    color: #e2e3ed;
    margin: 50px 37px 60px 20px;
  }

  .camp-features{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
  }

  .fun-feature{
    color: #e2e3ed;
    text-align: center;
    margin: 66px 97px;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.875rem;
  }

  .fun-details{
    margin-top: 40px;
  }

  /*PAST VISITORS*/
  .reviews-container{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-flow: column wrap;
    background: #2a423a;
  }

  .reviews-container h2{
    margin-top: 55px;
    margin-left: 20px;
    font-weight: 500;
    width: 89%;
    color: #e2e3ed;
  }

  .reviews-container img{
    width: 89%;
    margin: 32px 20px;
  }

  .past-team{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
  }

  .past-team h3{
    font-weight: 500;
    color: #e2e3ed;
    margin: 0 0 28px 20px;
    width: 89%;
  }

  .past-team p{
    color: #e2e3ed;
    width: 89%;
    margin: 0 20px 50px 20px;
  }  


    /*-----------FAQ PAGE MOBILE STYLES-----------------*/

     /*FAQ & ABOUT PAGE HEADER SETTINGS*/
  .unplugged-logo{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /*FAQ SECTION STYLES*/
  .faq-content-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    background: #527158;
  }

  .faq-content-container h2{
    font-weight: 500;
    line-height: 1.875rem;
    color: #e2e3ed;
    margin: 50px 80px 50px 20px;
  }

  .faq-content{
    margin: 0 20px 50px 20px;
  }

  .faq-content h4{
    font-weight: 500;
    line-height: 1.5rem;
    margin-bottom: 15px;
    color: #e2e3ed;
  }

  .faq-content p{
    color: #e2e3ed;
    line-height: 1.125rem;
  }

  /*--------------ABOUT PAGE MOBILE STYLES--------------*/
  /*MISSION SECTION*/
  .mission-content-wrapper{
        background: #527158;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column nowrap;
        padding: 50px 20px;
      }

      .mission-content-wrapper h2{
        font-weight: 500;
        color: #e2e3ed;
        margin-bottom: 20px;
        line-height: 2.25rem;
      }

      .mission-content-wrapper p{
        line-height: 1.125rem;
        color: #e2e3ed;
      }

      .paragraph-one{
        margin-bottom: 20px;
      }

      /*CONTACT SECTION*/
      .contact-wrapper{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-flow: column nowrap;
        background: #2a423a;
        padding: 50px 20px;
      }

      .contact-wrapper h2{
        line-height: 1.875rem;
        color: #e2e3ed;
        font-weight: 500;
        margin-bottom: 18px;
      }

      .contact-content{
        width: 100%;
      }

      .contact-content h3{
        line-height: 1.125rem;
        color: #ffffff;
        font-weight: 500;
        margin-bottom: 18px;
      }

      .contact-content address{
        font-family: 'Open Sans', sans-serif;
        font-size: 0.875rem;
        line-height: 1.35rem;
        color: #ffffff;
      }

      .general-info address{
        margin-bottom: 18px;
      }

    /*--------------TABLET HOME PAGE STYLES----------------*/
    @media only screen and (min-width: 768px){

      /*GENERAL STYLES*/
      h1{
        font-size: 3rem;
      }

      h2{
        font-size: 2.25rem;
      }

      h3{
        font-size: 1.5rem;
      }

      h4{
        font-size: 0.875rem;
      }

      p{
        font-size: 1rem;
      }

      /*HOMEPAGE HEADER TABLET STYLES*/
      .header-container{
        flex-direction: row;
        justify-content: space-between;
      }

      /*ABOUT & FAQ PAGE HEADER TABLET STYLES*/

      .unplugged-logo{
        justify-content: flex-start;
      }

      .header-container img{
        width: 31%;
        margin-left: 64px;
      }

      .header-divider{
        display: none;
      }

      header nav ul{
        margin-right: 64px;
      }

      header nav ul li a{
        padding-right: 40px;
        margin: 0;
      }

    /*HOMEPAGE HERO TABLET STYLES*/
    .hero-container{
      height: 600px;
    }
    .hero-container h1{
      margin-left: 62px;
      margin-top: 97px;
   }

    /*HOMEPAGE MORE INFO TABLET STYLES*/

    aside .more-info-container{
      margin: 50px 0;
      display: flex;
      justify-content: space-between;
      flex-flow: row wrap;
    }

    .join-next-retreat,
    .email-form{
      width: 40%;
      margin: 0;
    }

  /*HOME PAGE CAMP FEATURES TABLET STYLES*/
    
    .amenities-container h2{
      text-align: center;
      margin-bottom: 34px;
      margin-top: 94px;
    }

    .camp-features{
      flex-flow: row wrap;
      justify-content: space-around;
    }

    .fun-feature{
      width: 21%;
      margin: 42px 97px;
    }

    .fun-details{
      margin-top: 30px;
    }
    
    /*PAST REVIEWS HOMEPAGE TABLET STYLES*/

    .reviews-container{
      flex-flow: row wrap;
      align-items: flex-start;
    }

    .reviews-container h2{
      width: 65%;
      margin: 100px 0 22px 63px;
    }
    
    .reviews-container img{
      margin: 0 0 0 63px;
    }

    .reviews-container img,
    .past-team{
      width: 41%;
      margin-bottom: 100px;
    }

    .past-team{
      margin-left: 17px;
    }

    .past-team h3,
    .past-team p{
      margin-left: 0;
    }

    .past-team h3{
      margin-bottom: 17px;
      margin-top: 0;
    }

    /*FOOTER TABLET STYLES*/

    .footer-container{
      flex-flow: row wrap;
      align-items: flex-start;
      justify-content: space-around;
    }

    footer p{
      width: 100%;
      text-align: center;
      margin-top: 50px;
    }

    .contact,
    .social{
      width: 31%;
      margin-top: 100px;
    }

    .contact h3,
    .social h3{
      margin-top: 0;
    }

    /*----------TABLET FAQ PAGE STYLES-------------*/

    .faq-content-container{
      flex-flow: row wrap;
      justify-content: flex-start;
      padding-bottom: 65px;
   }

   .faq-content-container h2{
    text-align: left;
    margin: 95px 200px 35px 60px;
  }

    .faq-content{
      width: 39%;
      margin: 0 0 0 60px;
    }

    .faq-content p{
      margin-bottom: 35px;
    }

    /*---------TABLET ABOUT PAGE STYLES-----------*/
    /*MISSION SECTION*/
    .mission-content-wrapper{
      padding: 100px 60px;
      flex-flow: row wrap;
      align-items: flex-start;
    }

    .mission-content-wrapper h2{
      width: 100%;
      margin-bottom: 35px;
      line-height: 3rem;
    }

    .mission-content-wrapper p{
      flex: 1;
    }

    .paragraph-one{
      margin: 0 35px 0 0;
    }

    /*CONTACT US SECTION*/
    .contact-wrapper{
      justify-content: flex-start;
      padding: 95px 65px;
    }

    .contact-wrapper h2{
      width:100%;
      line-height: 3rem;
      margin-bottom: 50px;
    }

    .contact-content{
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-flow: row nowrap;
    }

    .contact-content h3{
      line-height: 1.5rem;
      margin-bottom: 20px;
    }

    .contact-content address{
      line-height: 1.125rem;
    }

    .general-info{
      margin-right: 100px;
    }   
  }  

    /*--------------DESKTOP HOME PAGE STYLES---------------*/

    @media only screen and (min-width: 1200px){

      /*GENERAL STYLES*/

      h2{
        font-size: 3rem;
      }

      h3{
        font-size: 1.875rem;
      }

      h4,
      p{
        font-size: 1.125rem;
      }

    /*ASIDE*/
    aside .more-info-container{
      justify-content: space-around;
    }  

    .join-next-retreat,
    .email-form{
      width: 30%;
    }

    /*HOME PAGE CAMP FEATURES DESKTOP STYLES*/
    .amenities-container h2{
      width: 73%;
      text-align: left;
    }

    .camp-features{
      margin: 0 120px 90px 120px;
    }

    .fun-feature{
        width: 15%;
        margin: 50px 80px;
      }

    /*PAST REVIEWS HOMEPAGE DESKTOP STYLES*/

      .reviews-container h2{
        width: 80%;
        margin: 95px 0 95px 120px;
      }

      .reviews-container img{
        margin: 0 0 95px 120px;
        width: 38%;
      }

      .past-team{
        margin-left: 35px;
        width: 38%;
      }

    /*----------FAQ PAGE DESKTOP STYLES----------*/
    .faq-content-container h2{
      margin-bottom: 40px;
    }

    .faq-content p{
      line-height: 1.125rem;
    }

    /*-----------ABOUT PAGE DESKTOP STYLES----------------*/
    /*MISSION SECTION*/
    .mission-content-wrapper{
      padding: 90px 120px;
    }
    
    .mission-content-wrapper h2{
      line-height: 4.5rem;
      margin-bottom: 30px;
    }

    .mission-content-wrapper p{
      line-height: 1.5rem;
    }

    /*CONTACT SECTION*/
    .contact-wrapper{
      padding: 90px 120px;
    }
    
    .contact-wrapper h2{
      line-height: 4.5rem;
      margin-bottom: 25px;
    }

    .contact-content h3{
      line-height: 1.875rem;
      margin-bottom: 35px;
    }

    .contact-content address{
      line-height: 1.35rem;
    }

    .general-info{
      margin-right: 200px;
    }
  }





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/*  TABLET STYLES */
@media only screen and (min-width: 768px){

}

/*  DESKTOP STYLES*/
@media only screen and (min-width: 1200px){

}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

